/*NOM DU SCRIPT: AlloThéâtre
REALISATION: Claire Moreau, Amel Choquet, Chafika Morsli, Audrey Rebolle
DATE DE CREATION: 25/01/2018
DATE DERNIER MODIF/ICATION : 25/01/2018
OBJET: Projet final*/

header {
  margin-top: 100px;
  margin-bottom: 20px;
}

/*carousel*/

#carousel {
  position: relative;
  height: 400px;
  top: 50%;
  /*  transform: translateY(-50%);*/
  overflow: hidden;
}

#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}

#carousel div img {
  width: 400px;
  transition: width 1s;
}

#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
  width: 200px;
}

#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
  width: 200px;
}

#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.prev img {
  width: 300px;
}

#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel div.prevLeftSecond img {
  width: 200px;
}

#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
  width: 300px;
}

#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel div.nextRightSecond img {
  width: 200px;
}

/* bouttons carousel*/

.buttons {
  position: relative;
  width: 100%;
  margin: 10px auto;
}

.buttons button {
  margin: 10px auto;
}

<<<<<<< HEAD
/* Form contact*/

body {
  background: #efefef;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #b6b6b6;
}

body section {
  background: white;
  margin: 60px auto 120px;
  border-top: 15px solid #313a3d;
  text-align: center;
  padding: 50px 0 110px;
  width: 80%;
  max-width: 1100px;
}

body section h1 {
  margin-bottom: 40px;
  font-size: 4em;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

form {
  width: 58.3333333333%;
  margin: 0 auto;
}

form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

form .field label {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  background: #313a3d;
  width: 100%;
  padding: 18px 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

form .field label+span {
  font-family: "SSStandard";
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 12px;
  left: 7%;
  font-size: 2.5em;
  text-shadow: 1px 2px 0 #cd6302;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

form .field input[type="text"], form .field textarea {
  border: none;
  background: #e8e9ea;
  width: 80.5%;
  margin: 0;
  padding: 18px 0;
  padding-left: 19.5%;
  color: #313a3d;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

form .field input[type="text"]#msg, form .field textarea#msg {
  height: 18px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

form .field input[type="text"]:focus, form .field input[type="text"].focused, form .field textarea:focus, form .field textarea.focused {
  outline: none;
}

form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg, form .field textarea:focus#msg, form .field textarea.focused#msg {
  padding-bottom: 150px;
}

form .field input[type="text"]:focus+label, form .field input[type="text"].focused+label, form .field textarea:focus+label, form .field textarea.focused+label {
  width: 18%;
  background: #fd9638;
  color: #313a3d;
}

form .field input[type="text"].focused+label, form .field textarea.focused+label {
  color: #fd9638;
}

form .field:hover label {
  width: 18%;
  background: #313a3d;
  color: white;
}

form input[type="submit"] {
  background: #fd9638;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

form input[type="submit"]:hover {
  background: #313a3d;
  color: #fd9638;
}

form input[type="submit"]:focus {
  outline: none;
  background: #cd6302;
}
=======
/*Fin carousel*/

/*Début fiche spectacle*/

.container {
 margin-right:auto;
 margin-left:auto;
 padding-left:15px;
 padding-right:15px
 }

.container-fluid {
 margin-right:auto;
 margin-left:auto;
 padding-left:15px;
 padding-right:15px
}

.row {
 margin-left:-15px;
 margin-right:-15px
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24, .col-xs-25, .col-sm-25, .col-md-25, .col-lg-25, .col-xs-26, .col-sm-26, .col-md-26, .col-lg-26, .col-xs-27, .col-sm-27, .col-md-27, .col-lg-27, .col-xs-28, .col-sm-28, .col-md-28, .col-lg-28, .col-xs-29, .col-sm-29, .col-md-29, .col-lg-29, .col-xs-30, .col-sm-30, .col-md-30, .col-lg-30, .col-xs-31, .col-sm-31, .col-md-31, .col-lg-31, .col-xs-32, .col-sm-32, .col-md-32, .col-lg-32, .col-xs-33, .col-sm-33, .col-md-33, .col-lg-33, .col-xs-34, .col-sm-34, .col-md-34, .col-lg-34, .col-xs-35, .col-sm-35, .col-md-35, .col-lg-35, .col-xs-36, .col-sm-36, .col-md-36, .col-lg-36, .col-xs-37, .col-sm-37, .col-md-37, .col-lg-37, .col-xs-38, .col-sm-38, .col-md-38, .col-lg-38, .col-xs-39, .col-sm-39, .col-md-39, .col-lg-39, .col-xs-40, .col-sm-40, .col-md-40, .col-lg-40, .col-xs-41, .col-sm-41, .col-md-41, .col-lg-41, .col-xs-42, .col-sm-42, .col-md-42, .col-lg-42, .col-xs-43, .col-sm-43, .col-md-43, .co .col-xs-45, .col-sm-45, .col-md-45, .col-lg-45, .col-xs-50, .col-sm-50, .col-md-50, .col-lg-50, .col-xs-55, .col-sm-55, .col-md-55, .col-lg-55, .col-xs-60, .col-sm-60, .col-md-60, .col-lg-60 {
 position:relative;
 min-height:1px;
 padding-left:15px;
 padding-right:15px; 
}



 

/*Fin fiche spectacle*/






>>>>>>> e7404b19d81b2da3383821e4cafc39062412a8d9
