{# templates/fiche_spectacle.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<h1>FICHE SPECTACLE</h1>


            
<!-- Fiche spectacle -->
                            
             
<div class="row">
  <div class="col-md-4">Titre du spectacle</div>
  <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
</div>
<div class="row">
  <div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
  <div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">.col-md-6 .offset-md-3</div>
</div>
                
<!-- Fiche spectacle -->
               
    
{% endblock %}    