{# templates/fiche_spectacle.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}



            
<!-- Fiche spectacle -->

                                    
<div class="container">
  <div class="row">
    <div class="col-m" style="color:black;border:1px solid black; ">
        <h1>TITRE SPECTACLE</h1>
    </div>
  </div>

  <div class="row">
    <div class="col" style="color:black;border:1px solid black; ">
        <h1>TRAILER</h1>
    </div>
  </div>

  <div class="row">
    <div class="col" style="color:black; border:1px solid black; ">
        <h1>AFFICHES</h1>
    </div>
    
    <div class="col" style ="color:black; border:1px solid black; ">
      <h1>STYLE/SOUS STYLE/RÉSUMÉ SPECTACLE</h1>
    </div>
    
    <div class="col" style ="color:black; border:1px solid black; ">
      <h1>NOM THEATRE<br/>
       LIEU & MAPS<br/>
        NOM DE LA SALLE<br/>
        NB DE PLACES</h1>
    </div>   
  </div>





</div>
                                    



                                    
            



                
<!-- Fiche spectacle -->
               
    
{% endblock %}    