{# templates/fiche_spectacle.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}



            
<!-- Fiche spectacle -->


<div class="example z-depth-4">
     <h1>FICHE SPECTACLE</h1>
</div>


<div class="w-100 p-3" style="background-color: #eee;">
    TRAILER ICI    
</div>                 


<div class="d-flex justify-content-start">
    AFFICHE ICI
</div>
<div class="d-flex justify-content-end">NOM DU THEATRE, MAPS, NOM DE LA SALLE, NOMBRE DE PLACE</div>
<div class="d-flex justify-content-center">...</div>
<div class="d-flex justify-content-between">...</div>
<div class="d-flex justify-content-around">...</div>

                
<!-- Fiche spectacle -->
               
    
{% endblock %}    