.header {
    padding: 20px;

    text-align: center;
}

    .header__title {
        padding: 15px;

        font-family: 'Patrick Hand', cursive;
        font-size: 2.5rem;
    }

    .header__sub-title {
        font-family: 'Patrick Hand', cursive;
        font-size: 1.2rem;
    }